.Header_header__zHlTC,
.Footer_footer___TWQ4 {
  display: none !important;
}

html,
body,
body > div,
body > div > div {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

body:has(.page_page__D6kPe) {
  background: #181717 !important;
}

body:has(.page_page__D6kPe) .Loader_loader____4ji,
body:has(.page_page__D6kPe) .loader {
  background: #181717 !important;
  color: #ffffff !important;
}
